/* font */
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Regular.woff') format('woff'),
  url('/fonts/AvenirNext-Regular.woff2') format('woff2');
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Bold.woff') format('woff'),
  url('/fonts/AvenirNext-Bold.woff2') format('woff2');
  font-weight:bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-DemiBold.woff') format('woff'),
  url('/fonts/AvenirNext-DemiBold.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Medium.woff') format('woff'),
  url('/fonts/AvenirNext-Medium.woff2') format('woff2');
  font-weight:medium;
  font-style: normal;
}



/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  font-family: "Avenir Next", sans-serif;
  background:white ;
  color:#191B43;
}
p{
  margin-bottom: 0.8rem;
  font-family: 'Avenir Next', sans-serif;
  font-weight: normal;
}
h1,h2,h3,h4{
  font-size: 'Avenir Next', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 65px;

}
a{
  color: #191b43;
  text-decoration: none;
}
/* top page */
.T-page{
  width: 85rem;
  margin-left: auto;
  margin-right: auto;
}
/* header */
header{
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
  color: #191B43;
  border-bottom: 1px solid #EEF0FC;
}
.logo{
  width: 7.1875rem;
  height: 2.5rem;
  margin-top: 16px;
}
header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}
header ul li{
  padding: 1rem;
  font-size: 18px;
  line-height: 25px;
}
/* section find */
.container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  max-width: 1300px;
  margin:0 0;
  padding: 1.25rem;
  gap: 95px;
}
.text-content{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
}
.title{
  font-size: 45px;
  line-height: 65px;
  color: #2b292d;
}
p{
  font-size: normal;
  color: #2b292d;
  margin: 20px 0;
  line-height: 35px;
  font-size: 18px;
}
.button{
  background: #3040c4;
  color: white;
  border-radius: 41px;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  max-width: 200px;
  text-align: center;
}
.image-content{
  grid-column: 2/-1;  
}
.image-content img{
  width: 100%;  
}
/* section search */
.meetYourMatch{
  height: 800px;
}
.match-container{
  background-color:#EEF0FC;
  width: 85rem;
  max-height: 500px;
  border-radius: 18px;
  margin: auto auto;
}
.content{
  display: block;
  text-align: center;
  max-width: 1200;
  padding: 1.25rem;
  margin:0 auto;
  
}
.meetYourMatchــform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:30px;
}
.switcher{
  display: inline-block;
  text-align: center;
}
.form-group{
  display: flex;
  direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: white;
  padding: 0;
  width: 32rem;
  margin: auto auto;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.form-group input{
  width: 50%;
  height: 100%;
  font-size: 16px;
  border: none;
  text-align: center;
  line-height: 2rem;
}
.form-group button{
  width: 20%;
  height: 100%;
  padding: 10px 20px;
  background-color: #3040c4;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}
.widgets-is-searchResults{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  
}
.widget__image{
  width: 100%;
}
.widget__desc{
  width: 100%;
  text-align: left;
  padding: 1rem;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
}
/* m-page */
.m-page{
  width: 70rem;
  margin: auto auto;
}
/* works */
.w-container{
  display: block;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 150px;
  text-align: center;
}
.widgets-is-howItWorks{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 50px;
}
.w-widget{
  width: 100%;
  flex:1
}
.w-widget__desc{
flex: 1;
text-align: center;
padding: 1rem;
line-height: 22px;
}
.w-widget__desc p{
  color:#6A6C79.
}

